@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
    --cor1: #000008;
    --cor2: #000033;
    --cor3: #0F0F33;
    --cor4: #000054;
    --cor5: #000094;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);

}

header {
    background-color: var(--cor1);
    
    min-height: 200px;
    width: 100%;

    padding-top: 90px;

    border-radius: 0px 0px 3px 3px;

    text-align: center;
}

header > h1 {
    color: #f1f1f1;

    margin-bottom: 30px;

    font-size: 2.1em;
    text-shadow: 1px 2px 2px #6d6d6d;
}

header > p {
    color: #e2e2e2;

    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: #ffffff;

    min-width: 300px;
    max-width: 1050px;

    margin: auto;
    padding-left: 5px;

    border-radius: 0px 0px 3px 4px;
    box-shadow: 1px 1px 8px black;

    font-family: 'Merriweather', serif;
}

main h1 {
    text-align: center;
    font-size: 1.6em;

    padding: 30px 0px 30px 0px;
}

main p {
    font-size: 1.1em;
    line-height: 2em;
}

main > div.poema > p {
    line-height: 2.5em !important;
}

footer {
    margin-top: 5px;
    background-color: var(--cor5);
    padding: 3px;
}